*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.header{
    width: 100%;
    height: 130px;
    border-bottom: 2px solid red;
    display: flex;
}
.log{
    height: 170px;
    padding: -120px;
    margin-left: 10px;
    position: relative;
    z-index: 100;
    margin-top: 10px;
    
}
.productos{
    width: 100%;   
}

.menu{
    display: inline-block;
    margin: 45px 0px 0px 10px;
    color: #23a629;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 16px;
}
span{
    color: gray;
}
.carrusel{
    height: 600px;
    width: 100%;
}
.puntos{
    width: 100%;
    height: 90px;
    background-color: rgba(245, 10, 10, 0.972);
    display: flex;
    padding: 0px;
    
}
.punto, .encuentra, .encontrar{
    color: white;
    width: 38%;
    text-align: center;  
}
.punticos{
    margin-top: 20px;
    margin-bottom: 20px;
}
.venta{
    font-size: 30px;
}
.encontrar1{
   margin-top: 25px;
   border: 3px solid white;
   padding: 9px 30px;
   
   border-radius: 5px;
   color: white;
    text-decoration: none;
    background-color: transparent;
}
.encontrar1:hover{
    background-color: rgba(20, 5, 5, 0.52);
}
.section2{
    width: 100%;
    height: 500px;
    display: flex;
}
.tradicion{
    width: 50%;
    text-align: center;
    margin-top: 200px;
}
.foto{
    width: 50%;
    text-align: center;
    
}
.tradicion1{
    color: green;
}
.somos{
    margin-left: 56px;
    margin-right: 56px;
    text-align: justify;
    color: gray;
    line-height: 20px;
    font-size: 17px;
}
.valle{
    color: green;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.conoce{
    background-color: red;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid red;
    color: white;
    margin-top: -10px;
}
.foto1{
    height: 418px;
    margin-top: 80px;
    


}
.section3{
    background-color: red;
}
.foto2{
    margin-top: 120px;
    width: 100%;
    height: 260px;
}
.tradicion2{
    color: white;
}
.productos2{
    color: white;

}
.somos2{
    color: white;
}

.conoce2{
    background-color: red;
    padding:10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    margin-top: 20px;
}
.eventico{
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .header {
        height: 73.1px;
        }
    .menu{
        margin: 23px 7px 0px 0px;
        font-size: 8px;
        padding: 0px;
    }   
    .productos{
        margin-bottom: 0;
    } 
    .log{
        height: 95px;
margin-top: 0px;
    }
    .venta {
        font-size: 29px;
        margin-top: 34px;
        }
    .punticos{
        margin-top: 3px;
margin-bottom: -2px;
    }  
    .encuentra > p:nth-child(1) {
        font-size: 15px;
        }
        section.section2:nth-child(3) > div:nth-child(1) > h2:nth-child(1) {
            font-size: 26px;
            margin-top: -168px;
            }
            .conoce2 {
                margin-top: 0px;
                }
                .tradicion2 {
                    margin-top: -87px;
                    }   
                    .encontrar1 {
                        margin-top: 17px;
                        }  
                                          



}

@media screen and (max-width: 1024px) {
    .header {
        height: 73.1px;
        }
    .menu{
        margin: 23px 7px 0px 0px;
        font-size: 8px;
        padding: 0px;
    }   
    .productos{
        margin-bottom: 0;
    } 
    .log{
        height: 95px;
margin-top: 0px;
    }
    .venta {
        font-size: 29px;
        margin-top: 34px;
        }
    .punticos{
        margin-top: 3px;
margin-bottom: -2px;
    }  
    .encuentra > p:nth-child(1) {
        font-size: 15px;
        }
        section.section2:nth-child(3) > div:nth-child(1) > h2:nth-child(1) {
            font-size: 26px;
            margin-top: -168px;
            }
            .conoce2 {
                margin-top: 0px;
                }
                .tradicion2 {
                    margin-top: -87px;
                    }   
                    .encontrar1 {
                        margin-top: 17px;
                        }  
                                          



}

@media screen and (max-width:360px){
    .header {
        height: 120px;
        }
        .log {
            
            height: 88px;
            }
            .menu{
                margin: 0;
                padding: 3px;
                height: 34px;
            }
            li{
                width: 30%;
                padding: 2px;
            }
            .venta {
                font-size: 15px;
                }
                .encuentra > p:nth-child(1) {
                    font-size: 10px;
                    }
                    .encontrar1 {
                        font-size: 14px;
                        padding: 2px;
                        border: 1px solid white;
                        }
                        section.section2:nth-child(3) > div:nth-child(1) > h2:nth-child(1) > strong:nth-child(1) {
                            font-size: 15px;
                            }
                            .somos {
                                font-size: 12px;
                                margin-left: 0px;
                                margin-right: 0px;
                                line-height: 20px;
                                }
                                .valle {
                                    font-size: 13px;
                                    }
                                    section.section2:nth-child(3) > div:nth-child(2) > img:nth-child(1) {
                                        width: 177px;
                                        height: 293px;
                                        }  
                                        section.section2:nth-child(4) > div:nth-child(1) {
                                            margin: ;
                                            margin-top: 96px;
                                            }
                                            
                                            

                                            .tradicion2 {
                                                font-size: 23px;
                                                }
                                                .productos2 {
                                                    font-size: 15px;
                                                    }
                                                    .somos2 {
                                                        font-size: 11px;
                                                        }
                                                        .conoce2 {
                                                            padding: 2px;
                                                            font-size: 14px;
                                                            }

                                                            section.section2:nth-child(4) > div:nth-child(2) {
                                                                width: 168px;
                                                                }
                                                                section.section2:nth-child(4) {
                                                                    height: 380px;
                                                                    }




                                            


}